### Class practice on 21/05/2024 - Advanced python programming
##### Prajwal Luitel (C0927658)

In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
client = MongoClient()

In [3]:
db = client.test

In [4]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [5]:
employee = db.employee

In [6]:
employee

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'employee')

#### Inserting values

In [12]:
employee_details = {
    'name':'Prajwal Luitel',
    "address":"Toronto, ON, CA",
    "age":"23"
}

In [13]:
result = employee.insert_one(employee_details)

In [18]:
result.inserted_id

ObjectId('664d2e6b355695db1e49905d')

### Checking the database and the collection

In [14]:
client.list_database_names()

['admin', 'config', 'local', 'test']

In [15]:
dblist = client.list_database_names()
if "test" in dblist:
    print(f"The {'test'} is found !!")
else:
    print(f"The {'test'} is NOT found !!")

The test is found !!

In [16]:
db.list_collection_names()

['employee']

In [17]:
collist = db.list_collection_names()
if "employee" in collist:
    print("The employee collection exists!!")

The employee collection exists!!

### Inserting multiple records

In [19]:
my_records = [{"_id":1,"name":"John","address":"Highway 37"},
          {"_id":2,"name":"Peter","address":"Lowstreet 27"},
          {"_id":3,"name":"Amy","address": "Close st 652"},
          {"_id":4,"name":"Hannah","address":"Mountain 21"},
          {"_id":5,"name":"Michael","address":"Valley 345"},
          {"_id":6,"name": "Vicky", "address": "Yellow Garden 124"},
          {"_id":7,"name": "Nicky", "address": "Yellow Garden 23"},
          {"_id":8,"name": "Nancy", "address": "Younge Ave. 123"},
          {"_id":9,"name": "Viola", "address": "Sideway Ave"}]

employee.insert_many(my_records)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9], acknowledged=True)

## Reading records

In [22]:
x = employee.find_one()
x

{'_id': ObjectId('664d2e6b355695db1e49905d'),
 'Name': 'Prajwal Luitel',
 'Address': 'Toronto, ON, CA',
 'Age': '23'}

In [23]:
for x in employee.find():
    print(x)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

#### Read by limiting result

In [24]:
myresult = employee.find().limit(5)

for record in myresult:
    print(record)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

In [25]:
type(myresult)

pymongo.cursor.Cursor

#### Without using the limit method

In [27]:
for i,x in enumerate(employee.find()):
    if i ==5:
        break
    print(x)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

### Finding specific records

In [28]:
for x in employee.find({}, {"_id":0, "name":1, "address":1}):
    print(x)

{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}

#### print everything except age

In [29]:
for x in employee.find({}, {"age":0}):
    print(x)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

### Advanced mongodb query

In [30]:
myquery = {"address":"Highway 37"}
mydoc = employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

##### Imagine there are multiple records that meets the conditions, modify to get the last 2 records that meet the condition

In [35]:
myquery = {"address":"Highway 37"}
mydoc = employee.find(filter=myquery, sort=[("_id",-1)]).limit(2)
for x in mydoc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

##### Filter with regular expressions

In [36]:
myquery = {"address":{"$regex":"^V"}}

for x in employee.find(filter=myquery):
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

##### Prints all records having l in their address

In [37]:
myquery = {"address":{"$regex":"l"}}

for x in employee.find(filter=myquery):
    print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}

#### Logical OR

In [41]:
myquery = {"$or":[{"address":{"$regex":"^Y"}},{"address":{"$regex":"^S"}}]}

for x in employee.find(myquery):
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

#### Alternatively,

In [39]:
myquery = {"address":{"$regex":"^Y|^S"}}

for x in employee.find(myquery):
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

#### Logical AND

In [42]:
myquery = {"$and":[{"address":{"$regex":"^Y"}},{"address":{"$regex":"1"}}]}

for x in employee.find(myquery):
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [45]:
myquery = {"$and":[{"address":{"$regex":"^Y"}},{"address":{"$regex":"1"}},{"name":{"$regex":"^N"}}]}

for x in employee.find(myquery):
    print(x)

{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

### Logical NOT

In [47]:
myquery = {"name":{"$ne":"Nancy"}}

for x in employee.find(myquery):
    print(x)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [49]:
myquery = {"$and":[{"address":{"$regex":"^Y"}},{"address":{"$regex":"1"}},{"name":{"$ne":"Nancy"}}]}

for x in employee.find(myquery):
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}

### Greater than

In [50]:
myquery = {"address":{"$gt":"S"}}

for x in employee.find(myquery):
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

### Sorting

In [52]:
for x in employee.find().sort("name"):
    print(x)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [54]:
for x in employee.find(sort=[("name", -1), ("address",1)]):
    print(x)

{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}

### Update one record

In [55]:
# Display before the update
for x in employee.find():
    print(x)

myquery = {"address":"Valley 345"}
newvalues = {"$set":{"address":"Canyon 123"}}

employee.update_one(myquery, newvalues)

print("\n\n After update: ")
for x in employee.find():
    print(x)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}


 After update:
{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [57]:
myquery = {"address":{"$regex":"C"}}
newvalues = {"$set":{"name":"Minnie"}}

x = employee.update_many(myquery, newvalues)

print(x.modified_count, "documents updated")

print("After update: ")
for x in employee.find():
    print(x)

1 documents updated
After update:
{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

## Rename  collection from employee to employee_details

In [58]:
db['employee'].rename('employee_details')
db.list_collection_names()

['employee_details']

## Address should be changed to employee_address

In [61]:
employee_details = db['employee_details']

result = employee_details.update_many(
    {},
    {
        '$rename': {
            'address': 'employee_address'
        }
    }
)

for x in employee_details.find():
    print(x)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'employee_address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'employee_address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'employee_address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'employee_address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'employee_address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'employee_address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'employee_address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'employee_address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'employee_address': 'Sideway Ave'}

#### Delete many documents

In [63]:
myquery = {"employee_address":{"$regex":"^Y"}}
x = employee_details.delete_many(myquery)
print(x.deleted_count, "documents deleted!!")

3 documents deleted!!

## Delete the field 'name'

In [64]:
result = employee_details.update_many(
    {},
    {
        '$unset': {
            'name': ""
        }
    }
)

for x in employee_details.find():
    print(x)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'employee_address': 'Highway 37'}
{'_id': 2, 'employee_address': 'Lowstreet 27'}
{'_id': 3, 'employee_address': 'Close st 652'}
{'_id': 4, 'employee_address': 'Mountain 21'}
{'_id': 5, 'employee_address': 'Canyon 123'}
{'_id': 9, 'employee_address': 'Sideway Ave'}

### Delete everything

In [65]:
x = employee_details.delete_many({})
print(x.deleted_count, "documents deleted.")

7 documents deleted.

### Drop collection

In [66]:
employee_details.drop()

In [67]:
db.list_collection_names()

[]