### Class practice on 21/05/2024 - Advanced python programming
##### Prajwal Luitel (C0927658)

In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
client = MongoClient()

In [3]:
db = client.test

In [4]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [5]:
employee = db.employee

In [6]:
employee

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'employee')

#### Inserting values

In [12]:
employee_details = {
    'Name':'Prajwal Luitel',
    "Address":"Toronto, ON, CA",
    "Age":"23"
}

In [13]:
result = employee.insert_one(employee_details)

In [18]:
result.inserted_id

ObjectId('664d2e6b355695db1e49905d')

### Checking the database and the collection

In [14]:
client.list_database_names()

['admin', 'config', 'local', 'test']

In [15]:
dblist = client.list_database_names()
if "test" in dblist:
    print(f"The {'test'} is found !!")
else:
    print(f"The {'test'} is NOT found !!")

The test is found !!

In [16]:
db.list_collection_names()

['employee']

In [17]:
collist = db.list_collection_names()
if "employee" in collist:
    print("The employee collection exists!!")

The employee collection exists!!

### Inserting multiple records

In [19]:
my_records = [{"_id":1,"name":"John","address":"Highway 37"},
          {"_id":2,"name":"Peter","address":"Lowstreet 27"},
          {"_id":3,"name":"Amy","address": "Close st 652"},
          {"_id":4,"name":"Hannah","address":"Mountain 21"},
          {"_id":5,"name":"Michael","address":"Valley 345"},
          {"_id":6,"name": "Vicky", "address": "Yellow Garden 124"},
          {"_id":7,"name": "Nicky", "address": "Yellow Garden 23"},
          {"_id":8,"name": "Nancy", "address": "Younge Ave. 123"},
          {"_id":9,"name": "Viola", "address": "Sideway Ave"}]

employee.insert_many(my_records)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9], acknowledged=True)

## Reading records

In [22]:
x = employee.find_one()
x

{'_id': ObjectId('664d2e6b355695db1e49905d'),
 'Name': 'Prajwal Luitel',
 'Address': 'Toronto, ON, CA',
 'Age': '23'}

In [23]:
for x in employee.find():
    print(x)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

#### Read by limiting result

In [24]:
myresult = employee.find().limit(5)

for record in myresult:
    print(record)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

In [25]:
type(myresult)

pymongo.cursor.Cursor

#### Without using the limit method

In [27]:
for i,x in enumerate(employee.find()):
    if i ==5:
        break
    print(x)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

### Finding specific records

In [28]:
for x in employee.find({}, {"_id":0, "name":1, "address":1}):
    print(x)

{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}

#### print everything except age

In [29]:
for x in employee.find({}, {"age":0}):
    print(x)

{'_id': ObjectId('664d2e6b355695db1e49905d'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}