##### Prajwal Luitel (C0927658)  - Natural Language Processing -

### Write a Python program to replace maximum 2 occurrences of space, comma, or dot with a colon.

In [15]:
def replace_two(text:str):
    counter = 0
    edited_text = ""

    for character in text:
        if (counter <2) and (character == " " or character=="," or character=="."):
            edited_text += ":"
            counter += 1
        else:
            edited_text += character

    return edited_text

In [16]:
replace_two("Hello World,.How are you?")

'Hello:World:.How are you?'

In [17]:
replace_two("TheTwo..Occurrences are gone , , , . .")

'TheTwo::Occurrences are gone , , , . .'

#### Write a Python program to find all five-character words in a string.

In [20]:
def find_five(text:str):
    words = text.split(" ")
    all_five = [word for word in words if len(word.strip())==5 and word.isalpha()]
    return all_five

In [21]:
find_five("Hello there are two five letterred word here. Let us see !!")

['Hello', 'there']

In [22]:
find_five("This is a nice and efficient logic that I've applied. Check it out, friend !!")

['logic', 'Check']

### Write a Python program to find all three, four, and five character words in a string.

In [23]:
def find_three_four_five(text:str):
    words = text.split(" ")
    all_five = [word for word in words if len(word.strip())>=3 and len(word.strip())<=5 and word.isalpha()]
    return all_five

In [24]:
find_three_four_five("Hello there are two five letterred word here. Let us see !!")

['Hello', 'there', 'are', 'two', 'five', 'word', 'Let', 'see']

In [26]:
find_three_four_five("This is a nice and efficient logic that I've applied. Check it out, friend !!")

['This', 'nice', 'and', 'logic', 'that', 'Check']

### Write a Python program to find all words that are at least 4 characters long in a string.

In [27]:
def find_least_four(text:str):
    words = text.split(" ")
    least_four = [word for word in words if len(word.strip())>=4 and word.isalpha()]
    return least_four

In [28]:
find_least_four("Hello there are two five letterred word here. Let us see !!")

['Hello', 'there', 'five', 'letterred', 'word']

In [30]:
find_least_four("This is a nice and efficient logic that I've applied. Check it out, friend !!")

['This', 'nice', 'efficient', 'logic', 'that', 'Check', 'friend']

### Write a Python program to convert a camel-case string to a snake-case string.

In [50]:
def camel_to_snake(text:str):
    i = 0
    words = []
    temp = ""
    for i,character in enumerate(text):
        if character.isupper():
            words.append(temp)
            temp = character

        elif i == len(text)-1:
            temp+= character
            words.append(temp)
        
        else:
            temp+= character

    del words[0]
    snake_case = "_".join(words).lower()

    return snake_case

In [51]:
camel_to_snake("ThisIsCamelCaseWord")

'this_is_camel_case_word'

### Write a python program to convert snake-case string to camel-case string.

In [52]:
def snake_to_camel(text:str):
    words_capitalized = [word.capitalize() for word in text.split("_")]
    camel = "".join(words_capitalized)
    return camel

In [53]:
snake_to_camel("this_is_a_snake_case")

'ThisIsASnakeCase'

### Write a Python program to extract values between quotation marks of a string.

In [60]:
import re

def extract_values(text:str):
    return re.findall(r'-?\b\d+(?:\.\d+)?\b', text)

In [61]:
extract_values("This is my text with a 100 values and I wish to get every 1 of them in my including this 3.5 value")

['100', '1', '3.5']