#### 1. Write a Python function that takes a string and calculates the length of a string and returns it. Print the returned value.

In [3]:
def calculate_length(string:str):
    """
    This function takes a string as an input and returns the number of characters in the string.

    arguments:
    string: str: the string whose length is to be calculated

    returns:
    length_of_string: int: the number of characters in the string
    """

    length_of_string:int = 0

    for char in string:
        length_of_string+=1
    
    return length_of_string

my_string = "Hello World!"

# Testing the function
print(f"The number of characters in {my_string} is",calculate_length(my_string))

The number of characters in Hello World! is 12

#### 2. Write a Python function that takes a string and counts the number of characters (character frequency) in a string. For example, if we send 'google.com' to the function, it should return a dictionary like this 'g': 2, 'O': 3, '"': 1, 'e': 1, !: 1, 'C: 1, 'm': 1}

In [4]:
def character_frequency(string:str):
    """
    This function takes a string and counts the occurrences of each character in the string and returns a dictionary with appropriate values.

    arguments:
    string: str: The string to count the occurrences of the characters

    returns:
    frequency_dictionary: dict[str:int] : The dictionary that contains the character frequency
    """
    frequency_dictionary:dict[str:int] = {}

    for character in string:
        if character in frequency_dictionary:
            frequency_dictionary[character] += 1
        else:
            frequency_dictionary[character] = 1
    
    return frequency_dictionary

# Testing the function
print(f"The frequency dictionary for characters in {my_string} is\n{character_frequency(my_string)}")

The frequency dictionary for characters in Hello World! is
{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'W': 1, 'r': 1, 'd': 1, '!': 1}

#### 3. Create a string of your choice and apply a minimum of 8 of following methods to it and print the result.

In [6]:
# creating a string
my_string = "Hello World, I love programming in python! And I am 23 years old!"

# using capitalize
my_string.capitalize()

'Hello world, i love programming in python! and i am 23 years old!'

In [7]:
# using lower()
my_string.lower()

'hello world, i love programming in python! and i am 23 years old!'

In [8]:
# using title case
my_string.title()

'Hello World, I Love Programming In Python! And I Am 23 Years Old!'

In [9]:
# using the endswith to check whether string ends with a value
my_string.endswith("old!")

True

In [10]:
# using the startswith to check whether string starts with a value
my_string.startswith("Prajwal")

False

In [12]:
# locating programming in the string
my_string.find("programming")

20

In [13]:
# splitting the string characters
my_string.split()

['Hello',
 'World,',
 'I',
 'love',
 'programming',
 'in',
 'python!',
 'And',
 'I',
 'am',
 '23',
 'years',
 'old!']

In [14]:
# using the join method to join a list to create a string
" ".join(["Hello", "there", "Are", "You", "fine", "?"])

'Hello there Are You fine ?'

#### 4) Write a Python function that converts temperatures from Fahrenheit to Celsius.

In [18]:
def farhenheit_to_celsius(farhenheit:float) -> float:
    """
    This function takes the temperature value in farhenheit and converts it to Celsius.

    arguments:
    farhenheit: float: The temperature value in Farhenheit

    returns:
    celsius: float: The temperature in Celsius
    """    

    celsius:float = (farhenheit - 32) * (5/9)
    return celsius

my_temp:float = 32
print(f"{my_temp} Degree Farhenheit is equal to {farhenheit_to_celsius(my_temp)} Degrees Celsius")

32 Degree Farhenheit is equal to 0.0 Degrees Celsius

# Working with the Dataset

#### Step - 2: Learning Pandas

In [ ]:
# Approach 1 List
carloans = [[1, 34689.96, 687.23, 202.93, 484.3, 34205.66, 60, 0.0702, 'Toyota Sienna'],
            [2, 34205.66, 687.23, 200.1, 487.13, 33718.53, 60, 0.0702, 'Toyota Sienna'],
            [3, 33718.53, 687.23, 197.25, 489.98, 33228.55, 60, 0.0702, 'Toyota Sienna'],
            [4, 33228.55, 687.23, 194.38, 492.85, 32735.7, 60, 0.0702, 'Toyota Sienna'],
            [5, 32735.7, 687.23, 191.5, 495.73, 32239.97, 60, 0.0702, 'Toyota Sienna' ]]

colNames = [ 'Month',
'Starting Balance',
' Repayment',
' Interest Paid',
'Principal Paid',
'New Balance',
'term'
'interest rate',
'car_type']