##### Prajwal Luitel (C0927658)  - Natural Language Processing -

23rd May 2024

### Bag of words - Contd. . .

In [2]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
text_data = np.array(["I love Brazil. Brazil!", "Sweden is Best", "Germany beats both"])

count = CountVectorizer()
bag_of_words = count.fit_transform(text_data)

In [4]:
bag_of_words

<3x8 sparse matrix of type '<class 'numpy.int64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [5]:
count.get_feature_names_out()

array(['beats', 'best', 'both', 'brazil', 'germany', 'is', 'love',
       'sweden'], dtype=object)

In [6]:
text_data = np.array(["I love Brazil. Brazil!", "Sweden is Best", "Germany beats both"])

In [7]:
bag_of_words.toarray()

array([[0, 0, 0, 2, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 0, 0]])

In [8]:
import pandas as pd

df = pd.DataFrame(data=bag_of_words.toarray(), columns=count.get_feature_names_out())
df.head()

   beats  best  both  brazil  germany  is  love  sweden
0      0     0     0       2        0   0     1       0
1      0     1     0       0        0   1     0       1
2      1     0     1       0        1   0     0       0

#### Creating bigrams

In [10]:
text_data = np.array(["I love Brazil. Brazil!", "Sweden is Best", "Germany beats both"])

count = CountVectorizer(ngram_range=(0,2))
bag_of_words = count.fit_transform(text_data)

df = pd.DataFrame(data=bag_of_words.toarray(), columns=count.get_feature_names_out())
df.head()

,,beats,beats both,best,both,brazil,brazil brazil,germany,germany beats,is,is best,love,love brazil,sweden,sweden is
0,4,0,0,0,0,2,1,0,0,0,0,1,1,0,0
1,4,0,0,1,0,0,0,0,0,1,1,0,0,1,1
2,4,1,1,0,1,0,0,1,1,0,0,0,0,0,0

### TF-IDF

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf_idf = TfidfVectorizer(ngram_range=(1,1))
feature_matrix = tf_idf.fit_transform(text_data)

In [12]:
cols = tf_idf.get_feature_names_out()
cols

array(['beats', 'best', 'both', 'brazil', 'germany', 'is', 'love',
       'sweden'], dtype=object)

In [13]:
data = feature_matrix.toarray()
data

array([[0.        , 0.        , 0.        , 0.89442719, 0.        ,
        0.        , 0.4472136 , 0.        ],
       [0.        , 0.57735027, 0.        , 0.        , 0.        ,
        0.57735027, 0.        , 0.57735027],
       [0.57735027, 0.        , 0.57735027, 0.        , 0.57735027,
        0.        , 0.        , 0.        ]])

In [14]:
df = pd.DataFrame(data, columns=cols)
df

     beats     best     both    brazil  germany       is      love   sweden
0  0.00000  0.00000  0.00000  0.894427  0.00000  0.00000  0.447214  0.00000
1  0.00000  0.57735  0.00000  0.000000  0.00000  0.57735  0.000000  0.57735
2  0.57735  0.00000  0.57735  0.000000  0.57735  0.00000  0.000000  0.00000

### Regular expression

In [15]:
import re

# match the beginning of string
text = "The categorical cat hello mycat"
text1 = "categorical cat hello mycat"

print(re.findall(r'\AThe', text))
print(re.findall(r'\AThe', text1))

['The']
[]

In [16]:
# Match beginning of the words

re.findall(r'\bcat', text1)

['cat', 'cat']

In [17]:
# ending with cat
re.findall(r'cat\b',text1)

['cat', 'cat']

In [18]:
# starting and ending with cat
re.findall(r'\bcat\b', text1)

['cat']

In [27]:
# find the index of all the matches
spans = re.finditer(r'\bcat', text)
for span in spans:
    print(span.start())

4
16

In [29]:
text1 = "This is an amazing classroom, every one speaks ENGLISH zizazo!"
text2 = "This is a good classroom, every one speaks ENGLISH zizxzd!!"
# Returns the pattern if not at the beginning of the word
print(re.findall(r'\Bzi', text1)) 
print(re.findall(r'\Bzi', text))

['zi']
[]

In [30]:
text = "This is an amazing classroom, every one speaks ENGLISH. THis is Highclass!!"
# The output is from the word highclass
re.findall(f'\Bclass', text)

['class']

In [31]:
text = "This is an amazing classroom, every one speaks ENGLISH !!"
# The class here is always at beginning
re.findall(f'\Bclass', text)

[]

In [32]:
text = "This is an amazing classroom, every one speaks ENGLISH. classy !!"
# The output is for classroom and classy
re.findall(f'class\B', text)

['class', 'class']

In [33]:
text = "This are amazing 2classrooms, every one speaks ENGLISH !!"
re.findall(f'\Bclass\B', text)

['class']

In [35]:
# returns the digits
text = "This is an 9amazing 5classroom, every one speaks ENGLISH 123. classy !!"
re.findall('\d', text)

['9', '5', '1', '2', '3']

In [40]:
# return the numbers
re.findall('\d+', text)

['123']

In [36]:
# returns everything except the digits
text = "This is an 2 amazing classroom, 4 every one speaks ENGLISh 123. classy !!"
re.findall('\D', text)

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 'n',
 ' ',
 ' ',
 'a',
 'm',
 'a',
 'z',
 'i',
 'n',
 'g',
 ' ',
 'c',
 'l',
 'a',
 's',
 's',
 'r',
 'o',
 'o',
 'm',
 ',',
 ' ',
 ' ',
 'e',
 'v',
 'e',
 'r',
 'y',
 ' ',
 'o',
 'n',
 'e',
 ' ',
 's',
 'p',
 'e',
 'a',
 'k',
 's',
 ' ',
 'E',
 'N',
 'G',
 'L',
 'I',
 'S',
 'h',
 ' ',
 '.',
 ' ',
 'c',
 'l',
 'a',
 's',
 's',
 'y',
 ' ',
 '!',
 '!']

In [41]:
re.findall('\D+', text)

['This is an amazing classroom, every one speaks ENGLISH ', ', classy !!']

In [37]:
text = "This is an amazing classroom, every one speaks ENGLISH 123, classy !!"
# Returns all the white spaces
re.findall('\s', text)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [38]:
# counting the whitespaces
len(re.findall('\s', text))

11

In [39]:
# returns everythins that are not whitespaces
re.findall("\S", text)

['T',
 'h',
 'i',
 's',
 'i',
 's',
 'a',
 'n',
 'a',
 'm',
 'a',
 'z',
 'i',
 'n',
 'g',
 'c',
 'l',
 'a',
 's',
 's',
 'r',
 'o',
 'o',
 'm',
 ',',
 'e',
 'v',
 'e',
 'r',
 'y',
 'o',
 'n',
 'e',
 's',
 'p',
 'e',
 'a',
 'k',
 's',
 'E',
 'N',
 'G',
 'L',
 'I',
 'S',
 'H',
 '1',
 '2',
 '3',
 ',',
 'c',
 'l',
 'a',
 's',
 's',
 'y',
 '!',
 '!']

In [44]:
text = "This is an amazing class_room, every one speaks ENGLISH 123. classy !!"
# . and , and ! and whitespaces are not included
"".join(re.findall("\w", text))

'Thisisanamazingclass_roomeveryonespeaksENGLISH123classy'

In [43]:
# anything a-z lower or upper, digits and _ are excluded
re.findall('\W', text)

[' ', ' ', ' ', ' ', ',', ' ', ' ', ' ', ' ', ' ', '.', ' ', ' ', '!', '!']

In [46]:
text = "This is an amazing class_room, every one speaks ENGLISH 123. classy"
# Returns if it is at the end of the string
re.findall('classy\Z', text)

['classy']

In [49]:
text = "This is an amazing class_room, every one speaks ENGLISH 123 q. classy"
# m-q lowercase
re.findall('[m-q]', text)

['n', 'm', 'n', 'o', 'o', 'm', 'o', 'n', 'p', 'q']

In [51]:
# m-q lowercase as well as uppercase
re.findall('[m-q]|[M-Q]', text)

['n', 'm', 'n', 'o', 'o', 'm', 'o', 'n', 'p', 'N', 'q']

In [52]:
# Wildcard character is a .
re.findall('c....y', text)

['classy']

In [56]:
# looks for the string
re.findall('^Th', text)

['Th']

In [54]:
# or logic
re.findall('^A|^T', text)

['T']

In [58]:
text = "This si an amazing++ class_room, everyone 'speaks ENGLISH 123 +"
re.findall('[+]', text)

['+', '+', '+']

In [59]:
re.findall('[+]+', text)

['++', '+']

In [60]:
text = "\yes 1:30   no 12:30  maybe 1:5   test me 12:5"
re.findall(r'(\d?\d):(\d?\d)', text)

[('1', '30'), ('12', '30'), ('1', '5'), ('12', '5')]

In [61]:
re.findall(r'(\d\d):(\d\d)', text)

[('12', '30')]

In [62]:
re.findall(r'(\d?\d):(\d\d)', text)

[('1', '30'), ('12', '30')]

In [63]:
re.findall(r'(\d\d):(\d?\d)', text)

[('12', '30'), ('12', '5')]