In [1]:
import pandas as pd

import numpy as np

In [2]:
df = pd.read_excel("./Online Retail Data Set.xlsx")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
df.shape

(541909, 8)

In [4]:
df.iloc[0:3000].shape

(3000, 8)

In [5]:
df = df.iloc[0:3000]

In [6]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [7]:
df.to_excel("OnlineRetailDataset.xlsx")

In [10]:
df["CustomerID"].value_counts()

CustomerID
17968.0    85
17850.0    84
17920.0    81
12433.0    73
14729.0    71
           ..
17460.0     1
14527.0     1
17809.0     1
14045.0     1
12748.0     1
Name: count, Length: 94, dtype: int64

In [11]:
df_countries = pd.DataFrame(data=df["Country"].value_counts())

In [12]:
df_countries.head()

                count
Country
United Kingdom   2841
Norway             73
Germany            29
EIRE               21
France             20

In [13]:
df_countries.to_excel("DataByCountry.xlsx")

In [14]:
df["Description"].value_counts()

Description
HAND WARMER SCOTTY DOG DESIGN          19
WHITE HANGING HEART T-LIGHT HOLDER     16
HAND WARMER OWL DESIGN                 15
HAND WARMER RED RETROSPOT              15
RED WOOLLY HOTTIE WHITE HEART.         14
                                       ..
LARGE HANGING IVORY & RED WOOD BIRD     1
FAIRY CAKE BIRTHDAY CANDLE SET          1
CREAM SWEETHEART WALL CABINET           1
DOORMAT ENGLISH ROSE                    1
BLACK ENCHANTED FOREST PLACEMAT         1
Name: count, Length: 1291, dtype: int64

In [15]:
df.isnull().sum()

InvoiceNo         0
StockCode         0
Description      10
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID     1081
Country           0
dtype: int64

In [16]:
df_description = pd.DataFrame(data=df["Description"].value_counts())
df_description.head()

                                    count
Description
HAND WARMER SCOTTY DOG DESIGN          19
WHITE HANGING HEART T-LIGHT HOLDER     16
HAND WARMER OWL DESIGN                 15
HAND WARMER RED RETROSPOT              15
RED WOOLLY HOTTIE WHITE HEART.         14

In [17]:
df_description.to_excel("DescriptionData.xlsx")

In [18]:
df_customers = pd.DataFrame(df["CustomerID"].value_counts())
df_customers.head()

            count
CustomerID
17968.0        85
17850.0        84
17920.0        81
12433.0        73
14729.0        71

In [19]:
df_customers.to_excel("CustomerData.xlsx")